<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<statements>
		<select id="TestSql" resultClass="System.Data.DataTable" parameterClass="System.String">
			SELECT * FROM sys_user
			<dynamic prepend="where">
				<isNotEmpty prepend="and" property="">
					name like '%$name$%'
				</isNotEmpty>
			</dynamic>
		</select>
	</statements>
</sqlMap>